<!--<div class="profile-container">
  <div class="register-content card " style="column-count:2">

      <form name="registration" class="input-group center">

        <div >

        <img src="../img/customer2.png" >
</div>
          <div class="input-row " style="height:auto">
              <label><b>Customer</b></label><br>
              <p>{{Customer.firstname}} {{Customer.lastname}}</p>
          </div>
          <div class="input-row" style="height:auto">
              <label><b>Email</b></label><br>
          <p>{{Customer.email}}</p>

  </div>

</div>
</div>
-->


<div class="profile-container center">

  <table class="card">
<th>  <img src="../img/customer3.png" alt="Avatar" ></th>
<th>  <div class="container">
    <h4><b><font color=#107f3f>{{Customer.firstname}} {{Customer.lastname}}</font></b><br><p>&nbsp &nbsp &nbsp{{Customer.email}}</p></h4>

  </div></th>
</table>
</div>
<!--
    <div class="card ">
        <h3>MY Profile Page</h3>
        <p>{{Customer.firstname}}</p>
        <p>{{Customer.lastname}}</p>
        <p>{{Customer.email}}</p>
    </div>
-->
