<div class="profile-container">
    <!--  <h1> Riepilogo Profilo </h1>-->
    <div class="cart-heading-1 ">
        <h2>Sign up</h2>
    </div>
    <div class="register-content">
        <form name="registration">
            <div class="inputbox-profile">
                <span>Email:</span><br>
                <input type="email" name="email"  id="email" placeholder="Email" required/>
            </div>
            <div class="inputbox-profile">
                <span>Password</span><br>
                <input type="password" name="password" id="password" placeholder="Password" required/>
            </div>

            <input type="button" id="check" value="Sign In"/>
            <span id="signinError" class="formError"></span>
             <div  id="signup" >
             <h3><a href="#">new,sign up</a></h3>
             </div>
        </form>


    </div>
</div>