<div class="profile-container">
    <!--  <h1> Riepilogo Profilo </h1>-->
    <div class="register-content card">
        <form name="registration" class="input-group center">

            <div class="input-row" style="height:auto">
                <label>First Name</label><br>
                <input type="text"  id="firstname"  name="firstname" placeholder="First Name" required /><br>
                <span id="firstnameError" class="formError" style="font-size:12px; font: verdana"></span>
            </div>
            <div class="input-row" style="height:auto">
                <label>Last Name</label><br>
                <input type="text" name="lastname" id="lastname" placeholder="Lastname" required/><br>
                <span id="lastnameError" class="formError" style="font-size:12px; font: verdana"></span>
            </div>
            <div class="input-row" style="height:auto">
                <label>Email</label><br>
                <input type="email" name="email"  id="email" placeholder="Email" required/><br>
                <span id="emailError" class="formError" style="font-size:12px; font:verdana"></span>
            </div>
            <div class="input-row" style="height:auto">
                <label>Password</label><br>
                <input type="password" name="password" id="password" placeholder="Password" required/><br>
                <span id="passwordError" class="formError" style="font-size:12px; font:verdana"></span>
            </div>
            <!--div class="inputbox-profile">
                <span>Riperti Password</span><br>
                <input type="password" name="password2" id="password2" required/>
                <span id="password2Error" class="formError"></span>
            </div-->

            <!--div class="inputbox-profile" >
                <span>Data di Nascita:</span><br>
                <input type="date" name="birthday" id="birthday"  />
                <span id="birthdayError" class="formError"></span>
            </div-->
            <!--div class="inputbox-profile" >
                <span>Indirizzo:</span><br>
                <input type="text" name="address1" id="address1" placeholder="Address1" />
                <span id="address1Error" class="formError"></span>
            </div>
            <div class="inputbox-profile" >
                <span>Dettagli Indirizzo:</span><br>
                <input type="text" name="address2" id="address2" placeholder="Addresses" />
                <span id="address2Error" class="formError"></span>
            </div>
            <div class="inputbox-profile" >
                <span>Citt&aacute;:</span><br>
                <input type="text" name="city" id="city"  placeholder="City" />
                <span id="cityError" class="formError"></span>
            </div-->

                <input type="button" class="w3-btn w3-white w3-border w3-border-grey w3-medium w3-round-large" id="update" value="Sign Up"/>

        </form>


    </div>
</div>
