<div class="content-block-inner">
    <div class="cart-heading-1 ">
        <h2>My Cart</h2>
    </div>
    <div class="shop-area">
        {{#each Cart}}
        
            <div >
                <h3>{{id}}</h3>
                <input type="button" id="increaseByone" value="increase" data-productid="{{id}}" />
                <input type="text" id="cartnumber{{id}}"  value="{{quantity}}"/>
                <input type="button" id="decreaseByone" value="decrease" data-productid="{{id}}"/>
               
            </div>
       
        {{/each}}
    </div>
     
     <div id="checkout">
        <input type="button"  value="Check out"/>
     </div>
</div>