<div class="content-block-inner">

    <div class="shop-area centerproduct">

        <div>
            <div class="card"   >
            <div>
            <img src="../img/aboutus.jpg">
            </div>
      <!--      <h4><font color=#107f3f><b>About Us</b></font></h4>-->
             <p><br>
               LoveItaly è un vero e proprio mercato agricolo online per la commercializzazione e valorizzazione delle produzioni alimentari locali. La logica di base è esattamente la stessa di un tradizionale mercato cittadino, ma tutto è basato su una piattaforma online, accessibile sia da dispositivi mobili (smartphone e tablet) che desktop, con la quale mettiamo in contatto produttori e consumatori e organizziamo la consegna a domicilio.
<br>
 Con LoveItaly puoi così acquistare fresche bontà di campagna in pochi minuti! Ti basta: <br>

   1. Selezionare nella barra in alto il tuo comune o, se non presente, la voce Resto d'Italia;<br>
   2. Iscriverti gratuitamente;<br>
   3. Riempire il carrello con i prodotti che preferisci;<br>
   4. Confermare l'ordine e attendere comodamente a casa la consegna della spesa.<br>

 Inoltre, attraverso il blog e i canali social, puoi conoscere più da vicino i produttori e le loro storie, seguire i tuoi prodotti ed apprendere nuove e gustose ricette, rigorosamente di stagione.<br>

 Fare la spesa dal produttore al consumatore è una scelta di consumo che valorizza il territorio e recupera il legame con le origini, esaltando gusti, sapori tipici e tradizioni gastronomiche.<br>

 LoveItaly è riscoperta del legame tra persone e territorio, vicinanza ai valori della terra, amore per la natura, risparmio, sostenibilità, trasparenza, freschezza e genuinità.<br>

 E allora cosa aspetti, ISCRIVITI SUBITO ed entra nel fantastico mondo LoveItaly, un modo nuovo per fare la tua spesa quotidiana!<br>
             </p>

</div>
</div>
