<div class="content-block-inner">
    <div class="cart-heading-1 ">
        <h3>Product Details</h3>
    </div>
    <div class="shop-area">
        
        <div >
            <h2>{{product.name}}</h2>
            <p>{{product.id_default_image}}</p>
            <img src="http://loveitaly.altervista.org/api/images/products/{{product.id}}/{{product.id_default_image}}?ws_key=IYI6M35MLB8UVW38Y99RY3YPQWRX5X8H" alt="img/hereIcon.png">
            
            
               
        </div>
       
    </div>
</div>