<div class="content-block-inner">
    <div class="cart-heading-1 ">
        <h3>Product Details</h3>
    </div>
    <div class="shop-area">
        
        <div>
            <h2>{{product.name}}</h2>
             <p>Price {{twodigit product.price}}€</p>
             <p>{{{product.description_short}}}</p>
            <img src="http://loveitaly.altervista.org/api/images/products/{{product.id}}/{{product.id_default_image}}?ws_key=IYI6M35MLB8UVW38Y99RY3YPQWRX5X8H" alt="img/hereIcon.png">
            <form>
                <input type="hidden" id="name" value="{{product.name}}">
                <input type="button" id="increaseQuantity" value="increase" />
                <input type="text" id="number" value="1"/>
                <input type="button" id="decreaseQuantity" value="decrease"/>
                <input type="button" id="addtocart"  data-productid="{{product.id}}" value="add to the cart"/>
            </form>
               
        </div>
       
    </div>
</div>