<ul class="table-view">
    <li class="table-view-cell media" >
	<a class="navigate-right" id="categorylist">
            <span class="media-object pull-left icon icon-pages"></span>
		<div class="media-body">
                    Category List      
		</div>
	</a>
        <a class="navigate-right" id="productlist">
            <span class="media-object pull-left icon icon-pages"></span>
		<div class="media-body">
                    Product List
		</div>
	</a>
        <a class="navigate-right" id="companylist">
            <span class="media-object pull-left icon icon-pages"></span>
		<div class="media-body">
                    Company List
		</div>
	</a>
    </li>        
</ul>
