<div class="slider" id="mySlider">
  <div class="slide-group">
    <div class="slide">
      <img src="/img/pomodoro.jpg">
    </div>
    <div class="slide">
      <img src="/img/kids.jpg">
    </div>
    <div class="slide">
      <img src="/img/produtti.jpg">
    </div>
    <div class="slide">
      <img src="/img/woman.jpg">
    </div>
    <div class="slide">
      <img src="/img/conserva.jpg">
    </div>
  </div>
</div>

  <div class="w3-row-padding w3-section">
      <div class="w3-col s6" >
        <img id="productlist" src="img/Products.png" height="100%" width="100%">
      </div>
      <div class="w3-col s6">
        <img id="categorylist" src="img/Categories.png"  height="100%" width="100%">
      </div>
    </div>
<div class="w3-row-padding w3-section">
      <div class="w3-col s6">
        <img id="companylist" src="img/Companies.png"  height="100%" width="100%">
      </div>
      <div class="w3-col s6">
        <img id="cart" src="img/MyCart.png"  height="100%" width="100%">
      </div>
</div>
