<header class="bar bar-nav">
      <h1 class="title">LoveItaly</h1> 
      <img src="img/hereIcon.png">
</header>

 <nav class="bar bar-header-secondary">
  <a class="tab-item active" id="nav1">
    Home
  </a>
  <a class="tab-item" id="nav2">
    Nav2
  </a>
  <a class="tab-item" id="productlist">
    Products
  </a>
  <a class="tab-item" id="categorylist">
    Categories
  </a>
     
  <a class="tab-item" id="companylist">
    Companies
  </a>
     
  <a class="tab-item" id="cart">
    My Cart
  </a>
     
  <a class="tab-item" id="myprofile">
    My Profile
  </a>
     
  <a class="tab-item" id="signout">
    Sign Out
  </a>
     
   <a class="tab-item" id="aboutus">
    About Us
  </a>
  
</nav>



<!-- <nav id="navigation">
    <div id="nav1" class="i-4">nav 1</div>
    <div id="nav2" class="i-8">nav 2</div>
</nav> -->
<div id="content" class="content">
</div>